#page-body {
    width: 95vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#team-container {
    width:65vw;
    height: 55vh;
    margin-top: 0;
    align-self: flex-start;
}

#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#heading-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: poppins, sans-serif;
}

#heading-buttons button {
    height: clamp(2rem, 2vw, 5rem);
    width: clamp(8rem, 8vw, 10rem);
    border-radius: 5px;
}

#save-button {
    background-color: #45A049;
    border: none;
    color: #FFFFFF;
}

#delete-button {
    background-color: #C0392B;
    border: none;
    color: #FFFFFF;
}

#teamname-input {
    height: clamp(2rem, 2vw, 5rem);
    width: clamp(15rem, 15vw, 10rem);
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #3B82F6;
}

#pokemon-card-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    width:65vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

#search-team {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #3B82F6;
    border-radius: 8px;
    background-color:rgba(45, 45, 62, 0.3);
    right: clamp(5rem, 7vw, 10rem);
    width: clamp(17rem, 20vw, 22rem);
    height: clamp(20rem, 30vw, 55rem);
    position: absolute;
}

#search-box-team {
    background-color: rgba(18, 18, 30, 0.5);
    border: 1px solid #3B82F6;
    height: 1.5rem;
    width: clamp(15rem, 18vw, 20rem);
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(0.5rem, 1vw, 5rem);;
}

#stat-section {
    border: #3B82F6 solid 1px;
    border-radius: 8vh;
    height: 10vh;
    display: flex;
}
